.colorPicker {
  position: fixed;
  bottom: 190px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  padding: 15px 5px;
  box-shadow: inset 3px 4px 7px -10px rgba(20, 20, 20, 0.3),
    5px 8px 12px -6px rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.visible {
  opacity: 1;
  transition: opacity 0.4s ease 0s;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s ease 0s;
}

.colorPickerText {
  font-size: 0.5rem;
  color: rgba(233, 233, 233, 0.8);
  text-align: left;
  padding: 10px 10px 0px 5px;
  z-index: 1;
}

.colorPickerInput {
  margin: 0px 5px;
  padding: 0 5px;
  width: auto;
  max-width: 100px;
  height: 20px;
  border-style: none;
  border: 0;
  color: white;
  outline: none;
  background-color: inherit;
  border-bottom: 1px solid rgba(233, 233, 233, 0.9);
  text-align: center;
  font-size: 0.8rem;
  font-family: "Roboto";
  /* To fix weird rendering on mobile  */
  -webkit-appearance: none;
  border-radius: 0;
}

.colorPicker:hover {
  visibility: visible;
}

.palette {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 6px;
  margin: 5px;
}

.paletteColorButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  /* box-shadow: inset 3px 4px 7px -2px rgba(20, 20, 20, 0.7); */
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.8);
  transition: transform 0.1s, box-shadow 0.1s ease-in-out 0s;
}

.paletteColorButton:hover,
.paletteColorButton:active {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45),
    0 0 0 2px rgba(220, 220, 220, 0.9);
  transform: scale(1.05);
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45),
    0 0 0 2px rgba(220, 220, 220, 0.9);
}

.selected:hover,
.selected:active {
  transform: scale(1.2);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45),
    0 0 0 2px rgba(220, 220, 220, 0.9);
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}
