* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* #root {
    --colorDarkShades
    --colorDarkAccent
    --colorMain
    --colorLightAccent
    --colorLightShades
} */

:focus {
  outline:none;
}

#app {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorDarkShades);
  transition: background 1s ease, color 1s ease;
}

button {
  width: 100px;
  height: 50px;
  background-color: none;
  border-radius: 10px;
  margin: 5px;
  color: black;
  font-size: 1rem;
  transition: background 1s ease, color 1s ease;
}
button:nth-child(2) {
  background-color: var(--colorDarkShades);
}
button:nth-child(3) {
  background-color: var(--colorDarkAccent);
}
button:nth-child(4) {
  background-color: var(--colorMain);
}
button:nth-child(5) {
  background-color: var(--colorLightAccent);
}
button:nth-child(6) {
  background-color: var(--colorLightShades);
}

.generateColor {
  margin: 50px;

}