* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

:focus {
  outline: none;
}

/* #root {
    --colorDarkShades
    --colorDarkAccent
    --colorMain
    --colorLightAccent
    --colorLightShades
} */
