.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  height: auto;
  opacity: 1;
  justify-content: center;
  z-index: 1;
  box-shadow: 0px 2px 10px -3px rgb(135, 135, 135);
  background-color: var(--color4);
}

.navBar a {
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}
