.showCase {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f5f5f5;
  box-shadow: 5px 8px 12px -6px rgba(0, 0, 0, 0.4);
}

.showCaseButtons {
  margin-top: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hiEmphasis {
  background-color: var(--color3);
}

.hiEmphasis:hover {
  cursor: default;
}

.midEmphasis {
  border: 2px solid var(--color3);
  color: rgb(23, 23, 23);
}

.midEmphasis:hover {
  cursor: default;
}

.showCaseText {
  position: relative;
  text-align: center;
  left: auto;
  top: 120px;
  z-index: 1;
}

.showCaseText h1 {
  font-weight: 800;
  font-size: 2.2rem;
  margin: 10px 50px;
  letter-spacing: 3px;
}

.showCaseText p {
  font-family: "Raleway";
  margin: 15px 50px;
  opacity: 0.5;
}
