.toolBarColorButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(240, 240, 240);
  margin: 5px;
  box-shadow: inset 3px 4px 7px -2px rgba(20, 20, 20, 0.7);
  transition: background 1s ease, color 1s ease, transform 0.3s,
    box-shadow 0.4s ease-in-out 0s;
}

.toolBarColorButton:hover,
.toolBarColorButton:active {
  transform: scale(1.005) translate(0, -2px);
  box-shadow: inset 3px 4px 7px -2px rgba(20, 20, 20, 0.3),
    5px 8px 10px -10px rgba(0, 0, 0, 0.8);
}

.selected:hover,
.selected:active {
  transform: scale(1.2);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45),
    0 0 0 2px rgba(220, 220, 220, 0.9);
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45),
    0 0 0 2px rgba(220, 220, 220, 0.9);
}

.toolBar {
  background-color: rgb(61, 61, 61);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: inset 3px 4px 7px -10px rgba(20, 20, 20, 0.3),
    5px 8px 12px -6px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0px);
  opacity: 0.3;
  z-index: 1;
  transition: all 0.5s;
}

.toolBar:hover {
  opacity: 1;
}

.toolBarColorButton {
  cursor: pointer;
}

.toolBarColorButton:nth-child(1) {
  background-color: var(--color0);
}

.toolBarColorButton:nth-child(2) {
  background-color: var(--color1);
}

.toolBarColorButton:nth-child(3) {
  background-color: var(--color2);
}

.toolBarColorButton:nth-child(4) {
  background-color: var(--color3);
}

.toolBarColorButton:nth-child(5) {
  background-color: var(--color4);
}

.locks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lockButton {
  width: 20px;
  height: 20px;
  border: none;
  margin: 0px 20px;
  outline: none;
  opacity: 0.6;
  cursor: pointer;
}

.lockButton:hover {
  background: url(../assets/icons/locked.svg);
  transform: scale(1.1);
  opacity: 0.9;
}

.locked {
  background: url(../assets/icons/locked.svg);
  opacity: 0.9;
}

.unlocked {
  background: url(../assets/icons/unlocked.svg);
}
